@import "./assets/css/bpmn.css";
@import "./assets/css/diagram-js.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f3f3;
}
